<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="ERHMS.Desktop.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>

  <applicationSettings>
    <ERHMS.Desktop.Properties.Settings>
      <setting name="CompatibilityMode" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ControlFontSize" serializeAs="String">
        <value>12</value>
      </setting>
      <setting name="DefaultPageHeight" serializeAs="String">
        <value>1056</value>
      </setting>
      <setting name="DefaultPageWidth" serializeAs="String">
        <value>816</value>
      </setting>
      <setting name="EditorFontSize" serializeAs="String">
        <value>12</value>
      </setting>
      <setting name="FipsCrypto" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="GridSize" serializeAs="String">
        <value>3</value>
      </setting>
    </ERHMS.Desktop.Properties.Settings>
  </applicationSettings>

  <log4net>
    <appender name="Main" type="log4net.Appender.RollingFileAppender">
      <file value="Logs\ERHMS" />
      <datePattern value="'.'yyyy-MM-dd'.txt'" />
      <staticLogFileName value="false" />
      <rollingStyle value="Date" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date - %10property{process} - %-5level - %property{user} - %message%newline" />
      </layout>
    </appender>
    <root>
      <level value="DEBUG" />
      <appender-ref ref="Main" />
    </root>
  </log4net>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
</configuration>
