<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="ERHMS.EpiInfo.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>

  <applicationSettings>
    <ERHMS.EpiInfo.Properties.Settings>
      <setting name="ControlFontSize" serializeAs="String">
        <value>12</value>
      </setting>
      <setting name="DefaultPageHeight" serializeAs="String">
        <value>1056</value>
      </setting>
      <setting name="DefaultPageWidth" serializeAs="String">
        <value>816</value>
      </setting>
      <setting name="EditorFontSize" serializeAs="String">
        <value>12</value>
      </setting>
      <setting name="FipsCompliant" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="GridSize" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="MapServer" serializeAs="String">
        <value>https://basemap.nationalmap.gov/arcgis/rest/services/USGSImageryTopo/MapServer</value>
      </setting>
    </ERHMS.EpiInfo.Properties.Settings>
  </applicationSettings>
</configuration>
